/*
 * File:                webcam style.css
 * Author:              Noel Antonio
 * Date Created:        April 15, 2013
 * Purpose:             Cascading stylesheet for webcam objects.
 */

/*--------------------------
	Top Bar with Headings
---------------------------*/

#topBar{
	background:url('../img/top_bar_bg.jpg') repeat-x;
	height:163px;
}


/*-------------------
	Photo area
--------------------*/


#photos{
	border:20px solid #ccc;
	background:#eee;
        height: auto;
        width: 240px;
        float: left;
        position: relative;
        padding-bottom: 2%;
}

#photos:hover a{
	opacity:0.5;
}

#photos a{
        background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(14, 14, 14, 0.3);
	float: left;
	margin: 1px 1px 0 0;
	overflow: hidden;
        height: 200px;
        width: 250px;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}


#photos a:hover{
	opacity:1;
}

/*----------------------
	Camera slide up
-----------------------*/


#camera{
	background:url('../img/cam_bg.jpg') repeat;
	border:1px solid #f0f0f0;
	height:525px;
	width:770px;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.6);
	box-shadow:0 0 4px rgba(0,0,0,0.6);
}

.settings{
	background:url('../img/settings.png') no-repeat;
	cursor: pointer;
	height: 28px;
	position: absolute;
	right: 37px;
	top: 470px;
	width: 30px;
}

.settings:hover{
	background-position:left bottom;
}

#screen{
	width:520px;
	height:370px;
	margin: 66px auto 22px;
	background:#ccc;
	
	line-height: 360px;
    text-align: center;
	color:#666;
}

.buttonPane{
	text-align: center;
}

.tooltip{
	background:url('../img/tooltip.png') no-repeat;
	position:absolute;
	width:177px;
	height:146px;
	right: 38px;
	top: -140px;
}

.hidden{
	display:none;
}


/*-------------------------
	Generic styles
--------------------------*/

a, a:visited {
	text-decoration:none;
	outline:none;
	/*color:#54a6de;*/
}

a:hover{
	text-decoration:underline;
}