body{background:url(../img/bg.jpg) repeat-x #000000; font-size:13px; color:#595959;}

h1, h2, h3, h4, h5, h6{margin:0px; font-weight: bold;}

/*div{border:1px solid #CC0000;}*/

#header-image-container{border-top:6px solid #FFFFFF;}

#page-container{padding-top: 40px;}

#main-content{background:url(../img/content_bg.jpg) repeat-x #994d02; min-height: 510px; padding:14px 12px; border-bottom:1px solid #FFFFFF;}

#footer-container{margin-top:10px; text-align:center; margin-bottom:30px;}

#content-wrapper-full{background-color:#FFFFFF; padding:8px;}

.full-content{padding:5px 0;}

.page-title{background:url(../img/content_bg_header.jpg) repeat-x; height: 47px; font-size:20px; font-weight: normal; margin:0 0 10px 0; padding-left:8px;

-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; line-height: 47px;}


/*PROMOTION CUSTOM POST TYPES*/
.promotions-wrapper{margin-bottom:6px;}
.promotions-thumb{text-align: center;}
.promotions-thumb img{
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
border:5px solid #FFFFFF;
}

.promotions-detail h2{font-size: 20px; text-decoration: underline; margin-bottom:10px;}


/*navigation*/
#nav-container{background: url(../img/menu_bg.jpg) repeat-x; height: 45px; margin-top:20px; border-bottom:1px solid #000000;}

/*#main-navigation{margin:0px; height:45px; border-top:1px solid #000000;  border-bottom:1px solid #000000;}

#main-navigation li{float:left; list-style: none;}

#main-navigation li a{display:block; padding:12px 10px; color:#000000; border-left:1px solid #000000; text-decoration: none; font-size:14px;}

#main-navigation li:first-child a{border-left:none;}

#main-navigation li.current-menu-item a, 
#main-navigation li.current-page-ancestor a, 
#main-navigation li.current-menu-ancestor a, 
#main-navigation li.current-menu-parent a, 
#main-navigation li.current-page-parent a, 
#main-navigation li.current_page_ancestor a, 
#main-navigation li a:hover{background:url(../img/menu_active_bg.jpg);}

#main-navigation li:hover ul{display: block;}


#main-navigation li a.current-menu-item ul.sub-menu li a{background:none;}

 2nd Level in Main Menu 
#main-navigation ul{display: none;position: absolute;  background-color: #c3c3c3; z-index: 9999;  margin-left:0px; width:170px;}
#main-navigation ul li{padding:0; float: none;white-space: nowrap; background:none;}
#main-navigation ul li:hover, #main-navigation ul li.selected{background: none;}
#main-navigation ul li a {padding:6px 30px 6px 10px; font-size:13px;}*/


/*footer navigation*/
#footer-navigation{margin:0px;}

#footer-navigation li{display: inline-block;  border-right:1px solid #FFFFFF;padding:0 8px 0 5px; line-height: 12px;}

#footer-navigation li:last-child{border-right:none;}

#footer-navigation li a{color:#FFFFFF; text-decoration: none; font-size:12px;}

#footer-navigation li a:hover{text-decoration: underline;}

#footer-logos{margin-top:10px;}

/*custom plugins*/
.game-slider-container{background-color:#FFFFFF; margin-top:8px; padding:10px;}

h2.content-header{background:url(../img/content_bg_header.jpg) repeat-x; height: 47px; font-size:20px; font-weight: normal; margin:0px; padding-top:5px; padding-left:8px;}

#content-left, #content-right{padding:8px;}


@media (min-width: 1200px) {
    body{
        margin:0px;
        padding:0px;
    }
    
    #page-container{padding-top: 40px;}
    
    .container{
        width:980px;
    }
    
    .container-fluid{
        width:980px;
        margin:0 auto;
    }
    
}
@media (min-width: 768px) and (max-width: 979px) {
    body{
        margin:0px;
        padding:0px;
    }
    
    #page-container{padding-top: 20px;}
    

}

@media (max-width: 767px) {
    body{
        margin:0px;
        padding:0px;
    }
    
    #page-container{padding-top: 10px;}
   
}


@media (max-width: 480px) {
 
}


/*news */
.news-wrapper h2 a{color:#595959;}
.news-wrapper{margin-bottom: 15px;}


/*widget styles*/
.widget-header{background-color:#810306; font-size:20px; padding-left:8px; color:#fffbf6; height:45px; font-weight: normal;

-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; line-height: 45px;
}
.ff-row{margin:10px 0;}

.play-for-free-wrapper{ background-color:#f6ebcf; padding:8px; margin-bottom:15px;}
.play-for-free-wrapper .widget-header{text-align:center;}
.play-for-free-wrapper p{font-size:12px; margin-top:8px; line-height: 14px;}
.pff-link{text-align:right; margin-top:10px;}

/*WYSIWIG styles*/
.membership-block{
    	background: #d9d9d9;
	border: #bcbaba solid 1px;
	padding:4px 8px;
        font-family: Arial,sans-serif,monospace;
        margin-bottom:10px;        
}

.membership-block h2{
    font-size:16px;
    font-weight:bold;
}

/*pagination*/
.pagination{text-align: right;}
.pagination a{padding: 2px 5px; margin: 0 2px; border:1px solid #bac0c6;background-color: #d3d8dc;}
.pagination a:hover{padding: 2px 5px; margin: 0 2px; border:1px solid #bac0c6;background-color: #bac0c6; color:#FFF;}
.pagination span{padding: 2px 5px; margin: 0 2px; }

/*gallery sidebar styles*/
.gallery-sidebar h4{border-bottom:2px solid #9a9a9a; padding-bottom:5px;}
.gallery-sidebar{border-bottom:2px solid #9a9a9a;}
ul.gallery-selection{margin-left:40px;}
ul.gallery-selection li{padding:4px 8px;}
ul.gallery-selection li a{color:#595959; text-decoration: none;}
.gallery-liner{border-bottom:2px solid #9a9a9a;}

/*registration form*/
.input-wrapper{margin-bottom:7px;}
.registration-form{margin: 10px 10px 10px 20px;}
.registration-form input,.registration-form select {margin-bottom:0px;}
.input-full{width:100%;}
.input-normal{width:130px;}
.input-auto{width:auto;}
.label-small{font-size:12px; text-align:center;}

.tegs-submit-btn{
background-color:#c8d1dc; border:none; padding:6px 30px;

-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;    
}

.tegs-submit-btn:hover{
    text-shadow: 1px 1px #FFFFFF;
}

/*@author JeromeJose May 7 2013*/
.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        /*height: 100%;*/
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}
.errorField{color:red;}

.black_overlay2 {
   display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        /*height: 100%;*/
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}

.errorrlight
{
    display: none;
    text-align: center;
    font-size: 16pt;
    height: 30%;
    top: 80%;
    left: 25%;
    width: 50%;
    /*background-color: #e6e6e6;*/
    background-color: white;
    overflow: auto;
    position: absolute;
    z-index: 1002;
    padding: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;  
}
.errorheadlight{
background-color: black;
    color: white;
    font-size: 1em;
    height: 33px;
    padding-top: 10px;
    top: 0;
    width: 100%;
}
.white_content2 {
   display: none;
   position: absolute;
   top: 5%;
   left: 5%;
   width: 80%;
   height: 100%;
   padding: 5px;
   border: solid #808080;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:7%;
}
.labelbutton_black
{
	background-color: Black;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
	padding:5px;
	text-decoration:none; 
	color:White; 
        -moz-border-radius: 80px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;  
}
.labelbutton_black2
{
	background-color: Black;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:.80em;
	width:130px;
	text-align:center;
	cursor:pointer;
	padding:5px;
	text-decoration:none; 
	color:White; 
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;  
}
   .overlay{
        opacity: 0;
        filter: alpha(opacity = 0);
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        display: block;
        z-index: 2;
        background: transparent;
    }
    
.white_content {
        display: none;
        position: absolute;
        top: 60%;
        left: 25%;
        width: 50%;
        height: 80%;
        padding: 16px;
        border: solid #808080;
        background-color: white;
        z-index:1002;
        overflow: auto;
}

#successful{
        display: none;
        position: absolute;
        top: 60%;
        left: 16%;
        width: 900px;
        height: auto;
        padding: 16px;
        border: solid grey;
        background-color: #d3d3d3;
        z-index:1003;
        overflow: auto;
        text-align: center;
        font-size: 14pt;
}
/* Added By Jerome Jose May 9 2013*/
.error-title{
    background:url(../img/content_bg_header.jpg) repeat-x;
    height: 38px;
    width: 100%;
    padding-top: 15px;
}
