body {
  font-family: tahoma;
  font-size: 11px;
}

input, select, textarea {
	font-family: tahoma;
	font-size: 11px;
}

#calendar-header { background-color: #6699CC; padding-top: 2px; margin: auto; width: 100%; }
#calendar-header .closeme { padding: 0px 3px 2px 0px; }

#calendar-body { padding: 2px 3px 3px 3px; background-color: #6699CC; margin: auto; width: 100%; }
#calendar-body .general { background-color: #FFFFFF; }
#calendar-body .othermonth { background-color: #EEEEEE; color: #AAAAAA; }
#calendar-body .header { background-color: #6699CC; color: #FFFFFF; }
#calendar-body .today { background-color: #FFFFCC; }
#calendar-body .bg { background-color: #6699CC; }
#calendar-body .select { background-color: #FFCC99; }
#calendar-body .othermonth a:link { text-decoration : none; font-family: tahoma; color: #CCFFCC; }
#calendar-body .othermonth a:visited { text-decoration : none; font-family: tahoma; color: #CCFFCC; }
#calendar-body .othermonth a:hover { text-decoration : underline; font-family: tahoma; color: #FFFFFF; }
#calendar-body a:link { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-body a:visited { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-body a:hover { text-decoration : underline; font-family: tahoma; color: #FF0000; }
#calendar-body .disabledate { color: #669999; }

#calendar-body .refresh { color: #FFF; padding: 10px 3px 3px; }
#calendar-body .refresh .txt-container { padding: 25px 10px 10px; height: 50px; }

#calendar-body .mon {}
#calendar-body .tue {}
#calendar-body .wed {}
#calendar-body .thu {}
#calendar-body .fri {}
#calendar-body .sat { color: #66C; }
#calendar-body .sat a:link { color: #66C; }
#calendar-body .sun { color: #930; }
#calendar-body .sun a:link { color: #930; }

#calendar-footer { background-color: #CCCCCC; border: 0px solid #000000; }
#calendar-footer .btn { line-height: 21px; }
#calendar-footer .btn a:link { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-footer .btn a:visited { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-footer .btn a:hover { text-decoration : underline; font-family: tahoma; color: #FF0000; }

#calendar-header, #calendar-body, #calendar-footer { padding-left: 1px; padding-right: 1px; }
#calendar-container { background-color: #6699CC; }

.tcday, .tcmonth, .tcyear { z-index: 10; font:normal 18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif; height:25px;	background-color:#fff; border:1px solid  #dbdfe2; margin: 0 10px 0 0; float:left;}
/*.tcday, .tcmonth, .tcyear { font-size: 11px; z-index: 10; }*/

.date-tccontainer { border: 1px solid #cccccc; background-color: #efefef; padding: 2px; float: left; margin-right: 2px; text-align: center; }

#calendar-page { float: left; }
.div_calendar { width: 150px; height: 200px; }
.calendar-border { border: 1px solid #000; }

