/* <![CDATA[ */
* 
	{
		margin:0;padding:0;
	}

        
body, html
	{
		font-family: Arial;
		color:#000000;
		height: 100%;
		text-align:center
	}

form 
	{
		margin-bottom: 0px;
	}
        
.form-page{
    width: auto;
    clear: both;
}
	
.submenu
	{
		margin-bottom: 10px;
		font-size:1.1em;
		font-weight:bold;
                text-align:left;
	}

.menutitle
	{
		cursor:pointer;
		margin-bottom: 5px;
		background-color:#FFC895;
		color:#000000;
		width:250px;
		height:28px;
		padding:2px;
		text-align:left;
		font-size:1.3em;
		font-weight:bold;
		border:1px solid #000000;
	}

.linkmenu
{
	font-size:1em; 
	font-weight:bold; 
	text-decoration:none; 
	color:#000000; 
	cursor:pointer; 
	margin-left:15px;	
	
}

.linkmenuactive
{
	font-size:1em; 
	font-weight:bold; 
	text-decoration:none; 
	color:#800517; 
	cursor:pointer; 
	margin-left:15px;	
}

.labelbold
	{
		font-weight:bold;
		font-size:1.2em;
	}

.labelbold2
{
	font-weight:bold;
	font-size:1.0em;
}
.resetCont{
	background:url(../images/resetbutton.png) 0 0 no-repeat;
	width:148px;
	height:49px;
	/*float:left;*/
	/*display:block;*/
	/*margin:20px 0 0 190px;*/
	/*padding:0;*/
	cursor:pointer;
        
}
.okCont{
	background:url(../images/okbutton.png) 0 0 no-repeat;
	width:148px;
	height:49px;
	/*float:left;*/
	/*display:block;*/
	/*margin:20px 0 0 190px;*/
	/*padding:0;*/
	cursor:pointer;
        
}
.errorField{color: red;}

.cancelCont{
	background:url(../images/cancelbutton.png) 0 0 no-repeat;
	width:148px;
	height:49px;
	/*float:left;*/
	/*display:block;*/
	/*margin:20px 0 0 190px;*/
	/*padding:0;*/
	cursor:pointer;
        
}
.labelbutton2
{
	background-color: #E6E6E6;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
	padding:5px;
	text-decoration:none; 
	color:#000; 
}

.padded
{
	height:20px; 
	font-weight:bold;
}

.paging
{
	color:Red;
	font-weight:bold;
	font-size:1.0em;
	text-align:center;
}

#popuptitle
{
	background-color:#FFC895; 
	height:30px; 
	width:300px; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	border-color:#000000;	
	border-width:thin; 
	border-style:solid;
}

/** Bryan June 6, 2011 **/
.titleLightbox
{
	background-color:#FF9C42; 
	height:30px; 
	width:100%; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
        color: #fff;
	/*border-color:#000000;	
	border-width:thin; 
	border-style:solid;*/
}

.msgLightbox
{
	/*height:200px; */
	height:auto; 
	width:100%; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	/*border-color:#000000;	
	border-width:thin; 
	border-style:solid;*/	
}

#popupmsg
{
	height:200px; 
	width:300px; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	border-color:#000000;	
	border-width:thin; 
	border-style:solid;	
}

#tableheader
{
	background-color: black;
	font-weight:bold;
	font-size:1.2em;
        color: white; 
	padding:5px;
	height:30px;
}

#header
{
	background-color: #8d8d8d;
	font-weight:bold;
	font-size:1.2em; 
	padding:5px;
	height:30px;
}

#header2
{
	font-weight:bold;
	font-size:1.2em; 
	padding:5px;
	height:30px;
}


td.fontboldblack
{
	font-weight:bold;
	font-size:1em;
	color:#000000;	
}

td.fontboldblackcenter
{
	font-weight:bold;
	font-size:1em;
	text-align:center;
	color:#000000;	
}

td.fontboldred
{
	font-weight:bold;
	font-size:1em;
	color:red;	
}

td.fontred
{
	color:red;	
	text-align:center;
}

th.th
{
	background-color: #FFBB7D;
	color:#000000;
	font-weight:bold;
	font-size:1em;
	width:215px;
	text-align:center;
}

td.td
{
	text-align:center;
}
	
#containertemplate
{
	width:870px;
	height:100%; 
	margin:auto auto;
	vertical-align:middle; 
	display:table;
	background-color:#FFFFFF;
	text-align:left;
	margin-top:0px;
}

#maincontent
{
	width:850px;
	height:600px;
	position:relative;
	margin-top:50px;
	margin-left:auto;
	border-color:#000000;
	background-color:#FFFFFF;
	border-width:thin;
	border-style:solid;
	overflow-y:auto;
	vertical-align:top;
}

#menu
{
	position:relative; 
	width:100%; 
	margin-top:50px;
        background-color: black;
	border-width:thin;
	border-style:solid;
}

#datetime
{
	height: 100px; 
	width: 360px; 
	position:relative; 
	margin-top:-120px; 
	margin-left:530px;
}

#container
{
	width:300px; 
	height:150px; 
	margin: auto;
        padding-top: 8%;
	vertical-align:middle; 
	display:table; 
	background-color:#FFFFFF;
	text-align:left;
    text-decoration: line-through;

}

/*Light box*/
.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}
.white_content {
        display: none;
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 85%;
        padding: 16px;
        border: solid #808080;
        background-color: white;
        z-index:1002;
        overflow: auto;
        text-align: center;
        font-size: 16pt;
        height: auto;
        background-color: #e6e6e6;
}
.inputBoxEffectPopup{
    background:url('../images/okbutton.png') no-repeat;
    width: 146px;
    height: 47px;
    cursor: pointer;
    margin-bottom: 15px;
}

.errorField{color:red;}

.black_overlay2 {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}
.white_content2 {
   display: none;
   position: absolute;
   top: 10%;
   width: 445px;
   height: auto;
   padding: 16px;
   border: solid #808080;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:35%;
}
#ui-datepicker-div{font-size:11px}

#rec {
    color: red;
}

.picbox {
    border: 1px solid;
    height: 150px;
    width: 150px;
    float: left;
    position: relative;
    margin-top: -35%;
    margin-left: 15%;
}
.labelbutton_black
{
	background-color: Black;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
	padding:5px;
	text-decoration:none; 
	color:White; 
}
.table-list{
    alignment-baseline: central;
    width: 100%;
}
.table-list tr th{
    background-color:#404040; 
    color:white; 
  white-space: nowrap;
    width: auto;
    padding: 5px;
    border-color: #FFFFFF;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    height: 30px;
}
.table-list tr td{
    background-color:lightgray; height:30px;
    width: auto;
    white-space: nowrap;
    padding: 1px;
     border-bottom-style:ridge;
     padding-left: 3px;
}

.evenrow td{
    white-space: nowrap;
    background-color: gray;
    border-color: #FFFFFF;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    width: auto;
    height: 30px;
    padding: 3px;
}
.oddrow td{
    white-space: nowrap;
    background-color: lightgray;
    border-color:  #FFFFFF;
    border-style-inner: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    width: auto;
    height: 30px;
    padding: 3px;
}

.no-record td{
    border: 2px;
    background-color: #F4F4F4;
    border-color:  #FFFFFF;
    border-style-inner: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    text-align: center;
    width: auto;
    height: 30px;
}


a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}